@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,900;1,900&display=swap');

/* @supports (font-variation-settings: "wght" 450) {
    *{
      font-family: 'Poppins';
      
    }
  } */
  
body{
    background-color: #252525;
}

.sidebar{
    border: solid 1px black;
    width: 10%;
    height: 100vh;

    color: white;
}

.sidebar-inner{

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sidebar-header{
    background-color: #0c0c0c;
    width: 100%;
    height: 15vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-header button{
    background-color: #0c0c0c;
    border-color: transparent;
    color: white;
    font-size: 56px;
    width: 100%;
    height: 100%;
}

.sidebar-menu{
    background-color: #191919;
    width: 100%;
    height: 85vh;

    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.sidebar-menu span{
    color: white;
}

.sidebar-menu button{
    height: 10%;
    background-color: transparent;
    border-color: transparent;
    border-bottom: solid 1px gray  ;
    border-top: solid 1px gray  ;
    
    text-align: center;
}

.fa-solid{
    color: white;
}